@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* PINTAMOS EL FONDO DEL NAVEGADOR DE AZUL */
  html {
    background-color: #1B365D;
    /* Esto elimina la línea blanca abajo */
    margin: 0;
    padding: 0;
    height: 100%;
    overscroll-behavior-y: none;
    /* Evita el rebote elástico en Mac/Chrome */
  }

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-color: #1B365D;
    /* Coincide con el html */
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
  }

  #root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/* Loader Overlay - Posicionamiento Absoluto */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Anclado a los 4 lados */
  z-index: 9999;
  background-color: #1B365D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Garantiza que cubra todo, incluso barras de navegación móviles */
  height: 100dvh;
  width: 100vw;
}

/* Configuraciones de Lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}