@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #1B365D;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
    /* Bloquea rebote en Mac */
  }

  body {
    background-color: #1B365D;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
  }

  #root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
}

/* Loader Absoluto */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Fallback */
  height: 100dvh;
  /* Altura dinámica real */
  z-index: 9999;
  background-color: #1B365D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  touch-action: none;
  /* Bloquea gestos táctiles en el loader */
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}