@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  
  html {
    /* IMPORTANTE: scroll-behavior debe ser auto para que Lenis tome el control */
    scroll-behavior: auto;
  }
  
  body {
    @apply antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}