@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1B365D;
    /* Azul Cristo Rey */
    /* Evita el rebote de scroll en Mac/iOS */
    overscroll-behavior: none;
  }

  #root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/* Loader Fijo y Robusto */
.loader-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: #1B365D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  /* dvh asegura que cubra la pantalla completa en móviles */
}